<section id="blog" class="blog">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-2 col-sm-offset-3 col-xs-offset-0">
				<div class="wrap">
				<h2 class="blog__title title">Recent Post</h2>
				<div class="slider">
					<div class="slider__item">
						<figure class="col-sm-5"><img src="http://lorempixel.com/350/300/nature/1" alt="picture1"></figure>
						<figcaption class="col-sm-7">
							<h3>UX Designer Personal Card</h3>
							<span>Jun  20th  2016</span>
							<p>Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<a href="" class="btn">Read More</a>
						</figcaption>
					</div>
					<div class="slider__item">
						<figure class="col-sm-5"><img src="http://lorempixel.com/350/300/nature/2" alt="picture2"></figure>
						<figcaption class="col-sm-7">
							<h3>UX Designer Personal Card</h3>
							<span>Jun  20th  2016</span>
							<p>Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<a href="" class="btn">Read More</a>
						</figcaption>
					</div>
					<div class="slider__item">
						<figure class="col-sm-5"><img src="http://lorempixel.com/350/300/nature/3" alt="picture3"></figure>
						<figcaption class="col-sm-7">
							<h3>UX Designer Personal Card</h3>
							<span>Jun  20th  2016</span>
							<p>Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<a href="" class="btn">Read More</a>
						</figcaption>
					</div>
					<div class="slider__item">
						<figure class="col-sm-5"><img src="http://lorempixel.com/350/300/nature/4" alt="picture4"></figure>
						<figcaption class="col-sm-7">
							<h3>UX Designer Personal Card</h3>
							<span>Jun  20th  2016</span>
							<p>Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<a href="" class="btn">Read More</a>
						</figcaption>
					</div>
					<div class="slider__item">
						<figure class="col-sm-5"><img src="http://lorempixel.com/350/300/nature/5" alt="picture5"></figure>
						<figcaption class="col-sm-7">
							<h3>UX Designer Personal Card</h3>
							<span>Jun  20th  2016</span>
							<p>Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<a href="" class="btn">Read More</a>
						</figcaption>
					</div>
					<div class="slider__item">
						<figure class="col-sm-5"><img src="http://lorempixel.com/350/300/nature/6" alt="picture6"></figure>
						<figcaption class="col-sm-7">
							<h3>UX Designer Personal Card</h3>
							<span>Jun  20th  2016</span>
							<p>Lorem Ipsum is simply dummy text of the the of theprinting and typ setting industry. lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							<a href="" class="btn">Read More</a>
						</figcaption>
					</div>
					
				</div>
			</div>
			</div>
		</div>
	</div>
</section>
