	<header class="header" id="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-md-offset-2 col-sm-offset-4 col-xs-offset-0">
					<div class="wrap ">
						<div class="col-md-8 col-md-offset-4">
							<span>Hello I’m</span>
							<h1 class="header__title">Shekh Al<span class="accent__color">Rayhan</span></h1>
							<span class="header__descr accent__color">UI & UX Designer</span>
							<p class="header__text">Hello, I’m a <span class="accent__color">UI/UX</span> Designer  from <span class="accent__color">DeviserWeb</span>, Bangladesh. I hold a master degree of Web Design from the World University. It has a survived not only five centuries, hello a also the leap into electronic typesetting, remaining essentially unchanged.</p>
							<span><a class="btn" href="#">Portfolio</a><a class="btn" href="#">About Me</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>