

<section id="photo" class="photo">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-2 col-sm-offset-4 col-xs-offset-0">
				<div class="wrap">
				<h2 class="photo__title title">Recent Project</h2>
				<ul class="photo__list">
					<li class="photo__item col-md-6">
						<figure>
							<div class="photo__overlay"><span></span><span></span></div>
							<img src="http://lorempixel.com/445/300/cats/1" alt="">
						</figure>
						<figcaption>
							<h3>UX Designer Personal Card</h3>
							<p>Another card designed for designers. Another color variation attached ,  Have fun . </p>
						</figcaption>
					</li>
					<li class="photo__item col-md-6">
						<figure>
							<div class="photo__overlay"><span></span><span></span></div>
							<img src="http://lorempixel.com/445/300/cats/2" alt="">
						</figure>
						<figcaption>
							<h3>UX Designer Personal Card</h3>
							<p>Another card designed for designers. Another color variation attached ,  Have fun . </p>
						</figcaption>
					</li>
					<li class="photo__item col-md-6">
						<figure>
							<div class="photo__overlay"><span></span><span></span></div>
							<img src="http://lorempixel.com/445/300/cats/3" alt="">
						</figure>
						<figcaption>
							<h3>UX Designer Personal Card</h3>
							<p>Another card designed for designers. Another color variation attached ,  Have fun . </p>
						</figcaption>
					</li>
					<li class="photo__item col-md-6">
						<figure>
							<div class="photo__overlay"><span></span><span></span></div>
							<img src="http://lorempixel.com/445/300/cats/4" alt="">
						</figure>
						<figcaption>
							<h3>UX Designer Personal Card</h3>
							<p>Another card designed for designers. Another color variation attached ,  Have fun . </p>
						</figcaption>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</section>

