	<aside class="sidebar col-lg-2">
		<h3 class="sidebar__name">AL-Rayhan</h3>
		<span class="sidebar__text">UI & UX Designer</span>
		<nav class="sidebar__nav">
			<ul class="sidebar__ul js-scroll-to">
				<li class="sidebar__li"><a href="#" class="sidebar__a" data-scroll="#header">header</a></li>
				<li class="sidebar__li"><a href="#" class="sidebar__a" data-scroll="#skills">skills</a></li>
				<li class="sidebar__li"><a href="#" class="sidebar__a" data-scroll="#photo">photo</a></li>
				<li class="sidebar__li"><a href="#" class="sidebar__a" data-scroll="#blog">blog</a></li>
				<li class="sidebar__li"><a href="#" class="sidebar__a" data-scroll="#feedback">feedback</a></li>
				<li class="sidebar__li"><a href="#" class="sidebar__a" data-scroll="#button">button</a></li>
				<li class="sidebar__li"><a href="#" class="sidebar__a" data-scroll="#footer">footer</a></li>
			</ul>
		</nav>
	</aside>